<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie App</title>
</head>
    <body>
        <ul>
            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
            <li><a href="{% url 'mov_detail' %}">Best movie</a></li>
        </ul>
        <h1>Contact us</h1>
        <h2>Please contact us via information below:</h2>
        <ul>
            <li>Adress: ........................</li>
            <li>Phone:  ........................</li>
            <li>Email:  ........................</li>
        </ul>
    </body>
</html>